.MainButton {
  display: flex;
  padding: 12px 32px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 12px;
  background: #00aa4f;
  border: none;
  cursor: pointer;
  color: #000;
  font-family: "Source Sans 3";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.1px;
}
